<h1>Welcome to the Shoe Database!</h1>


<p>Add a shoe to the database:</p>

<form action="/shoes" method="post">
  <label for="brand">Brand of shoe:</label>
  <input id="brand" name="brand" type="text">

  <button type="submit">Add shoe</button>
</form>

<p><a href="/shoes">See Shoes</a></p>

<p>Add a store to the database:</p>

<form action="/stores" method="post">
  <label for="name">Name of store:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add store</button>
</form>

<p><a href="/stores">See Stores</a></p>
