<h2>Shoes</h2>

<% if @shoes.try(:any?) %>
<% @shoes.each() do |shoe| %>
  <ul>
    <li><a href='/shoe/<%=shoe.id()%>'> <%=shoe.brand()%></a></li>
  </ul>
  <% end %>
<% else %>
  <p>No shoes have been added.</p>
<% end %>

<p><a href="/">Return Home</a></p>
